<14>{{next(date_generator)}} {{ fake.random_element(('HOST1', 'HOST2')) }} (usd)my.app.faker.batch: {{ fake.int(1, 65000) }} ## {{ fake.city() }} # {{ fake.country_code(representation='alpha-2') }} # {{fake.iban()}} # {{fake.company()}} # {{fake.credit_card_number(card_type=None)}} # {{fake.latlng()}} # {{fake.name()}} # {{fake.user_agent()}} 
