{%- set type = fake.random_element(["post", "get"]) %}
{%- if type == "post" -%} {{ date_generator() }} receiving {{ type }} request. Request duration: {{ random.random() }}. Request size {{ random.randint(0,100) }}
{%- else -%}{{ date_generator() }} Receiving super get request. Request result: {{ random.choice(choices()) }}
{%- endif -%}
