{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#50440: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#62064: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#59137: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#49765: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#52821: query: {{ fake.domain_name() }} IN SRV +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#35712: query: {{ fake.random_element(('devo.com', 'dominio.chungo.xyz')) }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 94.2.23.4#50499: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}.10#56470: query: POS031CAR001.ad.blahblah.com IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.209.182.10#59761: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.160.176.30#60739: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#63085: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#38136: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#51986: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#60413: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.166.4.23#54290: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.167.69.165#47275: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.160.75.37#51530: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.209.167.10#60001: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#32853: query: {{ fake.random_element(('devo.com', 'dominio.chungo.xyz')) }} IN AAAA +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#32853: query: {{ fake.random_element(('devo.com', 'dominio.chungo.xyz')) }} IN AAAA +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#32853: query: {{ fake.domain_name() }} IN AAAA +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#65203: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#53343: query: {{ fake.domain_name() }} IN SRV +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.160.71.116#56905: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.166.44.15#62756: query: {{ fake.domain_name() }} IN SRV +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 94.2.23.4#53603: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.211.48.191#54363: query: {{ fake.domain_name() }} IN SRV +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.209.167.10#56683: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.160.71.115#36349: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.167.64.20#46534: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 94.2.23.4#55454: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.211.152.101#59282: query: {{ fake.domain_name() }} IN SRV +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.167.56.40#38003: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.ipv4() }}#65444: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.209.167.10#51047: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client 10.160.170.152#59308: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#52385: query: wssatsp.fazenda.sp.gov.br IN A +
22-Mar-2018 23:43:14.357 queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#58173: query: {{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }}queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#40474: query: w{{ fake.domain_name() }} IN A +
{{ fake.date_time_between(start_date='-2s', end_date='now', tzinfo=None).strftime("%d-%b-%Y %H:%M:%S.%f")[:-3] }} queries: info: client {{ fake.random_element(('4.2.23.1', '4.2.23.12', '4.2.23.13')) }}#59611: query: {{ fake.random_element(('devo.com', 'dominio.chungo.xyz')) }} IN A +
