ENJOY!!! {{ fake.city() }} # {{ fake.country_code(representation='alpha-2') }} # {{fake.iban()}} # {{fake.company()}} # {{fake.credit_card_number(card_type=None)}} # {{fake.latlng()}} # {{fake.name()}} # {{fake.user_agent()}}
